/* login button */
.login_btn{
    text-align: right;
    margin-top: 30px;
    margin-right: 50px;
}

.login_btn input{
    padding: 6px 30px;
    font-variant: small-caps;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    cursor: pointer;

    text-decoration: none;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);

    &.primary {
        background-color: $primary;
        color: $text-primary;

        &:active {
            background-color: $primary-active;
        }
    }

    &.secondary {
        background-color: $secondary;
        color: $text-primary;
        
        &:active {
            background-color: $secondary-active;
        }
    }
}