/* login button */
.login_btn{
    text-align: right;
    margin-top: 30px;
    margin-right: 50px;
}

.login_btn input{
    padding: 6px 30px;
    font-variant: small-caps;
}

.button {
    display: inline-block;
    list-style: none;

    text-decoration: none;
    padding: 6px 24px;
    cursor: pointer;

    &.primary {
        background-color: $primary;
        
        a {
            color: $text-primary;
        }
    }

    &.secondary {
        background-color: $secondary;

        a {
            color: $text-primary;
        }
    }
}