#loginform{
    display: block;
    align-content: center;
}

.login{
    width: 40%;
    font-size: 20px;
    padding: 30px 40px;
    border: solid;
    border-color: #c9c9c9;
    border-radius: 4px;
    border-width: 4px;
}

.logintitle h1{
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}