/* Class page styling */
.inner{
    margin: 0px 130px;
}
.class_content{
    display: flex;
    // margin: 0px 120px;
    // border: $border;
}

// .name{
//     margin-left: 100px;
// }

.class_sidebar{
    flex-grow: 2;
    // border: $border;
    width: 200%;
    // margin-left: 100px;
    list-style-type: none;
}

.display_content{
    flex-grow: 1;
    margin-left: 60px;
}