/* Class page styling */
.inner{
    margin: 0px 130px;
}
.class_content{
    display: flex;
}

.class_sidebar {
    // flex-grow: 2;
    width: 200%;
    list-style-type: none;
    margin-top: 10px;
    li {
        background-color: $primary-light;
        font-size: 15px;
        margin: 10px 0px;
        padding: 10px 8px;
        a:link{
            text-decoration: none;
            color: #4f474e;
        }
        a:visited{
            color: #4f474e;
        }
    } 
}

.display_content{
    // flex-grow: 1;
    margin-left: 60px;
    margin: none;
}