/* Palette */

$bg: #f1e9e9;
$bg-light: #ffffff;

$primary: #fe5f5b;
$primary-light: #ecaf9a;
$primary-dark: #8f403e;
$secondary: #4f474e;

$text-primary: #ffffff
$text-secondary: #212121;
$text-secondary-dark: #000000;

$accent1: #4e9657;
$accent2: #2196f3;;
$accent3: #ff4443;
$accent4: #aa66cd;