/* Base */
/* Palette */
body {
  color: #212121;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

/* Layout */
body {
  margin: 0;
  padding: 0;
  background-color: #f1e9e9;
}

/* Components */
/* login button */
.login_btn {
  text-align: right;
  margin-top: 30px;
  margin-right: 50px;
}

.login_btn input {
  padding: 6px 30px;
  font-variant: small-caps;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.button.primary {
  background-color: #fe5f5b;
  color: #ffffff;
}

.button.primary:active {
  background-color: #c7504e;
}

.button.secondary {
  background-color: #4f474e;
  color: #ffffff;
}

.button.secondary:active {
  background-color: #3a3539;
}

.login {
  margin: auto;
  width: 35%;
  font-size: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
}

.logintitle h1 {
  padding: 30px 40px;
  font-size: 30px;
  text-align: center;
  background-color: #fe5f5b;
  color: white;
}

#login_form {
  padding: 30px 40px;
  margin-right: 50px;
}

.label_input {
  padding: 10px 0px;
  text-align: right;
}

input {
  padding: 5px 5px;
  border: solid;
  border-width: 0.5px;
}

.login_btn {
  margin: none;
}

#header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding: 10px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #4f474e;
  color: #ffffff;
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
}

#header-container #header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#header-container #header-left p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#header-container #header-left p:active {
  color: #ecaf9a;
}

#header-container #header-middle {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#header-container #header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#header-container #header-right p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#header-container #header-right p:active {
  color: #ecaf9a;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.2);
}

#landing #landing-about {
  text-align: center;
}

#landing #landing-login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#landing #landing-login-buttons * {
  padding: 10px 150px;
  margin-left: auto;
  margin-right: auto;
}

/* Class page styling */
.inner {
  margin: 0px 130px;
}

.class_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class_sidebar {
  width: 200%;
  list-style-type: none;
  margin-top: 10px;
}

.class_sidebar li {
  background-color: #ecaf9a;
  font-size: 15px;
  margin: 10px 0px;
  padding: 10px 8px;
}

.class_sidebar li a:link {
  text-decoration: none;
  color: #4f474e;
}

.class_sidebar li a:visited {
  color: #4f474e;
}

.display_content {
  margin-left: 60px;
  margin: none;
}
/*# sourceMappingURL=main.css.map */