{% extends "class_layout.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<div class="inner">
            <div class="name">
                <h2>Class Name</h2>
            </div>

            <div class="class_content">
            <div class="class_sidebar">
                <li><a href="#" class="row active" >General Discussion</a></li>
                <li><a href="#" class="row nonactive" >Reading Assignments</a></li>
                <li><a href="#" class="row nonactive" >Writing Assignments</a></li>
             </div>
            <div class="display_content">
                <h3> Title </h3>
                <p>Dolore direct trade PBR&B cronut duis unicorn salvia eu swag tumeric readymade roof party asymmetrical farm-to-table. Deep v truffaut mollit waistcoat beard, dreamcatcher succulents hashtag consectetur gentrify activated charcoal dolor meggings XOXO. Occupy selfies ex authentic umami nostrud sriracha raw denim. Ugh man bun before they sold out, trust fund disrupt tbh letterpress in asymmetrical magna. Tbh slow-carb cardigan id occaecat, est biodiesel paleo austin brooklyn subway tile actually esse knausgaard. Pickled in kale chips hexagon portland mustache est. Leggings messenger bag keffiyeh stumptown sunt microdosing celiac.

                Semiotics cornhole bushwick four dollar toast non. Green juice literally cardigan irony, in gentrify chicharrones four dollar toast in. Salvia aliqua food truck butcher air plant hammock jean shorts wolf minim. Microdosing ennui hashtag kale chips, squid commodo in. Disrupt four loko shoreditch, in keffiyeh in kinfolk post-ironic incididunt. Nisi pour-over franzen put a bird on it consectetur. Messenger bag pabst keffiyeh aute, irony authentic cronut aesthetic minim seitan ipsum.</p>
            </div>
        </div>
        </div>
     </div>
</div>

{%endblock content%}