{% extends "layout.html" %}
{% block content %}
  <!-- Main -->
  <main>
    <div id="landing">
      <div id="landing-about">
        <h2>About</h2>
        <p>
          This web application was created by students from the Milstein
          Program at Cornell University.
        </p>
      </div>
      <div id="landing-login-buttons">
        <a
          href="login_student.html"
          id="landing-login-student"
          class="button primary"
          >Log In As Student</a
        >
        <a
          href="login_teacher.html"
          id="landing-login-teacher"
          class="button secondary"
          >Log In As Teacher</a
        >
      </div>
    </div>
  </main>
{% endblock content %}
