{% extends "login_layout.html" %}
{% block content %}
<div id="main">
	<div class="inner">
        <div class = "login">
            <div class="logintitle">
                <h1>Log In as Student</h1>
            </div>
            
			<form id="login_form" method="post" name="studentlogin">
				<div class = "label_input" >
                	<label> User Name:</label>
					<input type="text" name="studentlogin" id="studentlogin" required/>
				</div>
				<div class = "label_input" >
                	<label> Password: </label>
					<input type="password" name="password" id="password" required/>
				</div>
				<div class="login_btn">
					<input type="button" value="Login" id="submit" onclick="validate()"/>
				</div>
            </form>
        </div>

	</div>
</div>
{% endblock content %}